# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

#pytest cache
.pytest_cache/

# IDE files
.idea/

# Pytest cache
.pytest_cache/

# Ignore generated outputs but keep folder structure 
output_images/**
!output_images/**/
!output_images/**/.gitkeep
